<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @receipt.store %>
</p>

<p>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
